name: ArgoCD Diff Preview

on:
  pull_request:
    branches:
      - main

concurrency:
  group: diff-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  argocd-diff:
    name: Generate ArgoCD Diff
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          path: pull-request
      
      - uses: actions/checkout@v4
        with:
          ref: main
          path: main
      
      - name: Prepare secrets
        run: |
          mkdir -p secrets
          cat > secrets/secret.yaml << "EOF"
          apiVersion: v1
          kind: Secret
          metadata:
            name: private-repo
            namespace: argocd
            labels:
              argocd.argoproj.io/secret-type: repo-creds
          stringData:
            url: https://github.com/${{ github.repository }}
            password: ${{ secrets.GITHUB_TOKEN }}
            username: not-used
          EOF
      
      - name: Generate Diff
        run: |
          docker run \
            --network=host \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $(pwd)/main:/base-branch \
            -v $(pwd)/pull-request:/target-branch \
            -v $(pwd)/output:/output \
            -v $(pwd)/secrets:/secrets \
            -e TARGET_BRANCH=refs/pull/${{ github.event.number }}/merge \
            -e REPO=${{ github.repository }} \
            -e MAX_DIFF_LENGTH=300000 \
            dagandersen/argocd-diff-preview:v0.1.24
      
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.7'
          cache: true
          cache-dependency-path: pull-request/go.sum
      
      - name: Build application
        working-directory: pull-request
        run: |
          make build
          mv build/argocd-diff-preview-pr-comment .
          chmod +x argocd-diff-preview-pr-comment
          sudo mv argocd-diff-preview-pr-comment /usr/local/bin
      
      # - name: Download argocd-diff-preview-pr-comment
      #   run: |
      #     LATEST_VERSION=$(curl -s https://api.github.com/repos/belitre/argocd-diff-preview-pr-comment/releases/latest | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
      #     curl -L -o argocd-diff-preview-pr-comment.tar.gz \
      #       "https://github.com/belitre/argocd-diff-preview-pr-comment/releases/download/v${LATEST_VERSION}/argocd-diff-preview-pr-comment-${LATEST_VERSION}-linux-amd64.tar.gz"
      #     tar -xzf argocd-diff-preview-pr-comment.tar.gz
      #     chmod +x argocd-diff-preview-pr-comment

      - name: Post diff as comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./argocd-diff-preview-pr-comment add \
            --file output/diff.md \
            --pr ${{ github.repository }}#${{ github.event.number }} \
            --log-level info